body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

img{
    height: 1em;
}

#deportmanc > #gauge{
    display: block;
}